*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#build artifacts

build/
bin/
out/
.gradle/
Captures/

#--Local configuration (User specific) --
local.properties
.idea/workspace.xml
.idea/libraries/
.idea/caches/
.idea/shelf/
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml

#-- Sensitive files (Secrets) ---
*.jks
*.keystore
#google-services.json (OFten ignored if it contains secrets, otherwise keep)

#--OS Generated --
.DS_STORE
Thumbs.db

#---Log files --
*.log